/* This is an example CSS file, feel free to remove/edit it anytime */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;

}

.backgrand {
  background-color: rgb(13, 198, 13);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  background-color: white;
  width: 60vw;
  height:300px;
  box-shadow: 2px 2px 4px gray;
  border-radius: 4px;

}

.footer a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.footer span {
  font-size: 14px;
}